:root {
    --primary:  #d6e2f0;
    --secondary: #2692ff;
    --tertiary: #2433bb;
    --border-radius: .3rem;
  }

  * {
    box-sizing: border-box;
  }


body {
    background-color: var(--primary);
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 20px;
    padding: 5px;
}

.hero {
    color: white;
    background-color: var(--tertiary);
    text-align: center;
}

.hero h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

  /* CARDS */
.card {
    margin: 20px 0px 20px 0px;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
  }

  .card-header {
      font-size: 30px;
      
  }
    
   /* FORM */
.form-input {
    width: 30%;
    padding: 10px;
    margin: 5px 0;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: var(--border-radius);
  }

.btn {
    font-size: 1.5rem;
    text-decoration:none;
    width: 30%;
    padding: 6px 5px;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: white;
    outline: none;
    background-color: var(--secondary);
    box-shadow: 3px 3px var(--dark);
    transform: translate(-1px, -1px);
    margin-top: 20px;
  }
  
.btn:hover {
    color: var(--primary);
    background-color: var(--secondary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
  }

#h3 {
    margin-left: 32%;
    margin-top: 5%;
  }
  
.card-body {
    width: 900px;
    height: 250px;
    display: flex;
    position: absolute;
    top: 15%;
    left: 32%;
    border: 1px solid black;
  
}

.w-100 {
    width: 400px;
    height: 300px;
    position: absolute;
    left: 10px;
    top: 50%;
    border-top: 2px solid black;
  } 


.item {
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
    width: 160px;
    height: 200px;
    float: right;
    margin-right: 6px;
    margin-top: 0px;
}  


