:root {
  --primary:  #cbdef0;
  --secondary: #509be6;
  --tertiary: #2433bb;
  --border-radius: .3rem;
}

* {
  box-sizing: border-box;
}


body {
  background-color: var(--primary);
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--dark);
  line-height: 1.5;
  font-size: 20px;
  padding: 5px;
}

.row {
    margin-left: 480px;
    margin-right: 0px;
}

.col-lg-11 {
    position: absolute;
    top: 100px;
    left: 500px;
    bottom: 100px;
    height: 250px;
    background-color:rgba(var(--bs-light-rgb));
}

.mt-1 {
    margin-left: 10px;
}

.col-12 {
  margin-top: 100px;
  padding-left: 0px;
  padding-right: 450px;
}

.content {
  display: block;
  margin-top: 10px;
}

#pic {
  position: absolute;
  border-left-width: 20px;
  left: 280px;
  height: 50px;
  bottom: 200px;
  top: 0px;
}

.babge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;

    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}


.btn {
  font-size: 1.5rem;
  width: 21%;
  padding: 6px 5px;
  margin: 5px 0;
  border-radius: var(--border-radius);
  box-shadow: 3px 3px var(--dark);
  transform: translate(-1px, -1px);
  margin-top: 20px;
}

.btn:hover {
  color: var(--primary);
  background-color: var(--secondary);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--dark);
}


#city-form {
  margin-bottom: 10px;
  padding: 5px;
}

.card {
    border-left-width: 10px;
    margin-left: 10px;
    margin-top: 10px;
    background: none;
    width: 100%;
}

.form-control {
  margin-bottom: 10px;
}

#current-weather {
  margin-left: 10%;
}



@media screen and (max-width: 980px) {